{% extends 'author/layout.twig' %}

{% block body %}

    <div class="js-file-challenge-wrapper activity-wrapper">
        <h3>
            {{ challenge.question }}
        </h3>

        <div class="js-result">
        </div>

        <div class="row">
            <div class="col-xs-8">
                {% for file in fileBuilder.allFiles %}
                    <div class="js-input-files">
                        <h3>{{ file.filename }}</h3>
                        <textarea name="{{ file.filename }}"
                                  class="js-file form-control">{{ file.contents }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-4">
                <h3>Output</h3>
                <iframe src="about:blank" frameborder="0" class="js-output"></iframe>
            </div>
        </div>

        <div>
            <h4>Correct Answer</h4>
            <a href="#" class="js-toggle-correct-answer">Toggle Correct Answer</a>
            |
            <a href="#" class="js-copy-correct-answers">Copy correct answers up</a>
            <div class="js-correct-answer-wrapper" style="display: none;">
                {% for file in correctAnswer.files %}
                    <div>
                        <h3>{{ file.filename }}</h3>
                        <textarea name="{{ file.filename }}"
                                  class="form-control js-file">{{ file.contents }}</textarea>
                    </div>
                {% endfor %}
            </div>
        </div>

        <button class="btn btn-primary js-button-grade">Grade</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var ChallengeApp = function($wrapper) {
            this.initialize($wrapper);
        };

        $.extend(ChallengeApp.prototype, {
            $wrapper: null,

            initialize: function($wrapper) {
                this.$wrapper = $wrapper;

                this.$wrapper.on(
                    'click',
                    '.js-button-grade',
                    $.proxy(this._handleGradeClick, this)
                );

                this.$wrapper.on(
                    'click',
                    '.js-toggle-correct-answer',
                    $.proxy(this._handleToggleCorrectClick, this)
                );

                this.$wrapper.on(
                    'click',
                    '.js-copy-correct-answers',
                    $.proxy(this.handleCopyCorrectAnswersClick, this)
                );
            },

            grade: function() {
                var gradingData = {
                    files: {},
                    path: '{{ path }}'
                };
                this.$wrapper.find('.js-input-files .js-file').each(function() {
                    gradingData.files[$(this).attr('name')] = $(this).val();
                });

                var self = this;
                $.ajax({
                    url: '{{ gradingUrl }}',
                    method: 'POST',
                    data: gradingData,
                    success: function(data) {
                        self.printGradingResponse(data);
                    }
                });
            },

            printGradingResponse: function(data) {
                var $result = this.$wrapper.find('.js-result');

                if (data.isCorrect) {
                    $result.html('<h3>CORRECT!</h3>');
                } else {
                    if (data.errors.validation) {
                        $result.html(data.errors.validation);
                    } else {
                        $result.html(data.errors.language)
                    }
                }

                var $iframe = this.$wrapper.find('.js-output');
                $iframe.contents().find('body').html(data.output);
            },

            _handleGradeClick: function(e) {
                e.preventDefault();

                this.grade();
            },

            _handleToggleCorrectClick: function(e) {
                e.preventDefault();

                this.$wrapper.find('.js-correct-answer-wrapper').toggle();
            },

            handleCopyCorrectAnswersClick: function(e) {
                e.preventDefault();

                // loop over the correct answers
                var $invalidAnswerWrapper = this.$wrapper.find('.js-input-files');
                this.$wrapper.find('.js-correct-answer-wrapper .js-file').each(function() {
                    // find the same file and copy the contents up
                    $invalidAnswerWrapper.find('[name="'+$(this).attr('name')+'"]')
                        .val($(this).val());
                });
            }
        });

        jQuery(document).ready(function() {
            var $wrapper = $('.js-file-challenge-wrapper');

            var challengeApp = new ChallengeApp($wrapper);
        });
    </script>
{% endblock %}

